/*NAVIGATION*/
body{
    margin: 0;
}

#navigation{
    background-color: #024F59;
    padding:5px;
}

#navigation ul{
    list-style: none;
    text-align: left;
}

#navigation li{
    display: inline-block;
    margin-right:15px;
    margin-top:10px;
    font-size:18px;
    color:whitesmoke;
    padding:5px;
    font-family: 'Courier New', Courier, monospace;
}



/*LABELS*/
label{
    font-family: 'Courier New', Courier, monospace;
    display: block;
    font-size: 14px;
    text-transform: lowercase;
    
}
select{
    width:100%;
    margin-top: 5px;
    color:grey;
}

.select-condition{
    position: relative;
    top: 8px;
}


/*BUTTONS*/

.button{
    background-color:#c7d4cf96;
    border: 1px solid #ccc;
    margin: 10px 0;
    padding:8px;
    border-radius:5px;
    color:white;
}

#navigation button:hover{
    transform: scale(1.15);
    transition: ease-in 0.1s;
}

#navigation #remove:hover{
    background-color: rgb(180, 114, 114);
}

